html {
  height: 100%;
}

.link {
  color: white;
}

body.mainBackground {
  background-image: url("../images/fireworks-animation.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.mainContentWrapper {
  width: 60%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: hidden;
  flex-direction: column;
}

.content {
  /*background: black;*/
  color: white;
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Apple Chancery, cursive;
  font-size: 100px;
}

.contentSub {
  color: black;
}
